{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    {% for m in messages %}
    <p class="bg-success p-3 text-white">{{m}}</p>
    {% endfor %}
{% endif %}
<div>
    <a class="btn btn-info" href="{% url "edit_profile" %}">edit profile</a>
</div>
  <h2>Your Purchased Cars</h2>
{% if data %}
    <div class="d-flex gap-5 justify-content-around flex-wrap">
        {% for data in data %}
        <div class="card col-3 m-auto text-center" style="width: 18rem;">
          <img src="{{data.image.url}}" class="card-img-top img-fluid" alt="data photo">
          <div class="card-body">
            <h5 class="card-title ">{{ data.Car_name }}</a></h5>
            <p class="card-text">{{ data.description |truncatewords:10}}</p>
            <h5>Price - {{ data.price }}</h5>
            <h5>Brand - <button class="btn btn-danger disabled px-1 py-0"><small class="text-white">{{ data.brand }}</small></button></h5>
            {% comment %} <a href="{% url "cardetails" car.id%}" class="text-decoration-none btn btn-primary m-auto">View Details</a> {% endcomment %}
          </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>You haven't purchased any car yet.</p>
{% endif %}
{% endblock content %}
