{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <img src="{{ car.image.url }}" class="card-img-top img-fluid w-50" alt="car photo" />
    <div class="card-body">
      <h5 class="card-title">{{ car.Car_name }}</h5>
      <p class="card-text">{{ car.description }}</p>
      <h5>Quantity - {{ car.quantity }}</h5>
      <h5>Price - {{ car.price }}</h5>
      <h5>Brand - <button class="btn btn-danger disabled px-1 py-0"><small class="text-white">{{ car.brand }}</small></button></h5>
      {% if request.user.is_authenticated %}
        {% if car.quantity > 0 and not user_has_purchased %}
          <a href="{% url 'buy_car' car.id %}" class="btn btn-success">Buy Now</a>
        {% elif user_has_purchased %}
          <p class="text-danger">You have already purchased this car.</p>
        {% else %}
          <p class="text-danger">Out of stock</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="card container mt-3">
    <h5 class="p-3">Total Comments : {{ comments|length }}</h5>
    <div class="card-body">
      {% for comment in comments %}
        <div class="border p-2 m-2">
          <p>
            <b>{{ comment.name }}</b> {{ comment.created_on }}
          </p>
          <p>{{ comment.body }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="card container mt-3">
    <div class="card-body">
      <form method="post">
        <h1>Add Comment</h1>
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button class="btn btn-info" type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
